[*.cs]

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = silent

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none
