**/.classpath
**/.dockerignore
**/.env
**/.git
**/.github
**/.gitignore
**/.circleci
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/obj
**/*.md
LICENSE
**/TestResults
